.hero{
    min-height: 100vh;
}
.hero_slider .carousel-item{
    height: 65vh !important;
    position: relative !important;
}
.hero_slider .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
.hero_slider .carousel-item::after{
    content: '';
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-bg-transparent);
    z-index: 10;
}
.hero_services{
    display: grid;
    min-height: 35vh;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    margin-top: -100px;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    background: var(--gradient-light);
    border-radius: 2px;
    padding: 3rem 1rem;
    z-index: 1;
}
.service:nth-child(1){
    background-color: var(--color-primary);   
}
.service:nth-child(2){
    background-color: var(--color-success);   
}
.service:nth-child(3){
    background-color: var(--color-error);   
}
.service .service_icon{
    font-size: 3rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .7rem;
}
.service .service_details h2{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .5rem;
}
.service .service_details p{
    padding: 0 50px;
    font-size: 1rem;
    color: var(--color-text-light);
}