
.cardTitle h3{
    color: #121b1a;
    text-decoration: none;
    font-size: .9rem;
}
.price{
    color: #121b1a;
    font-weight: 500;
    font-size: 1.3rem;
}
.cat{
    color: #999;
}
.cardImg{
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
}
.addCard{
    border: none !important;
}
.card_image{
    transition: all .3s;
}
.card_image:hover{
    transform: scale(.9);
}
@media(max-width:992px){
    .cardTitle a{
        font-size: 1.3rem;
    }
}
@media(max-width:767px){
    .cardTitle a{
        font-size: 1.1rem;
    }
}