.footer{
    background: var(--gradient-bg-light);
    padding: 80px 0 40px 0;
    margin-top: 80px;
}
.LogoImg img{
    max-width: 70%;
    margin-bottom: 1.5rem;
}
.LogoImg p{
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.5;
        width: 300px;
}
.footer h3{
    color: #fff;
    font-size: 37px;
    font-weight: 700;
    font-family: 'Hanuman';
    position: relative;
    margin-bottom: 2rem;
}
.footer h3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 135px;
    background-color: #ff9301;
}
.usefulList ul{
    padding: 0 !important;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.usefulList ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Hanuman';
}
.contactInfo ul{
    padding: 0 !important;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.contactInfo ul li{
    color: #fff;
    font-size: 16px;
    font-family: 'Hanuman';
}
.socialLinks ul{
    padding: 0 !important;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.socialLinks a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.face:hover{
    color: rgb(0, 140, 255);
}
.inst:hover{
    color: #f8466e;
}
.twit{
    color: rgb(0, 191, 255);
}
.map iframe{
    width: 100%;
}