.lOffer{
    padding: 80px 0 120px 0;
    width: 100%;
    background: var(--gradient-bg-light);
    overflow: hidden;
    position: relative;
}
.lOffer h2{
    position: relative;
    width: fit-content;
    margin: auto;
}
.lOffer h2::after{
    content: '';
    position: absolute;
    top: 2.8rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 40%;
    background-color: #ff9301;
}
.product_content .product_title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.product_content .buy_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 0 0;
    margin-bottom: 1.5rem;
}
.product_content .buy_row .buy_icon{
    background-color: var(--color-success);       
    border-radius: 15px;
}
.product_content .buy_row .buy_icon .buy_btn{
    padding: .4rem 1.5rem;
    cursor: pointer;
    display: inline-block;
}
.product_content .buy_row .buy_icon .buy_btn span{
    font-weight: 600;
    margin-right: .3rem;
}
.product_price span{
    font-size: 1.5rem;
    font-weight: 700;
}
.product_content .buy_row .buy_icon img{
    width: 40px;
    height: 40px;
}
.product_description h4{
    font-size: 2rem;
}
.product_description p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-light);
    line-height: 1.8;
}

.product_img{
    width: 400px;
    height: 250px;
}
.product_img img{
        display: flex;
        margin: 0 auto;
        height: 40vh;
        width: 80%;
        border-radius: 5%;
        object-position: center;
        object-fit: cover;
}

.showing_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.showing_content .promo{
    flex-basis: 100%;
    background: var(--color-success);
    border: 3px dashed #121b1a;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.showing_content .promo span{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;

}
.showing_content .promo button{
    width: fit-content;
    background-color: var(--color-success-dark);
    color: #fff;
    outline: none;
    border: none;
}
.promo_shop{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.promo_shop span{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--color-success);
    border: 3px dashed #121b1a;
    margin-bottom: 1rem;
}
.showing_content .promo_shop button{
    background-color: var(--color-success-dark);
    color: #fff;
}
.showing_content .showing_title{
    flex-basis: 100%;
    text-align: center;
}
.showing_content .showing_title h3{
    font-size: 1.5rem;
    color: #121b1a;
}
.showing_footer{
    margin-top: 3rem;
    text-align: center;
}
.showing_footer > span{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--color-error);
    display: block;
    margin-bottom: .5rem;
}
.showing_footer h3{
    color: #121b1a;
    font-size: 1.5rem;
}
.showing_footer h3 > span{
    text-decoration: line-through;
    color: var(--color-error);
}
.active_show{
    display: flex;
}