@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
:root{
    --color-primary: #714fda;
    --color-primary-light: #866bde;
    --color-primary-dark: #593daf;
  
    --color-success: #648696;
    --color-success-light: #839faa;
    --color-success-dark: #46606c;
  
    --color-error: #e53b89;
    --color-error-light: #ee75ac;
    --color-error-dark: #b22b6a;
  
    --color-text: #f7f8f8;
    --color-text-light: #cacacc;
    --color-text-dark: #ffffff;
  
    --gradient-bg: linear-gradient(45deg, #121b1a, #1d1a2d);
    --gradient-bg-transparent: linear-gradient(180deg, #121c1ab6, #1d1a2d79);
    --gradient-bg-light: linear-gradient(45deg, #283334, #303541);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    color: var(--color-text) !important;
  }
  body{
    background: var(--gradient-bg);
    min-height: 100vh;
  }
  ::selection{
    background-color: var(--color-primary-dark);
  }
  ul{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
  }
  div{
    color: var(--color-text) !important;
  }
  